DATA TYPE

In [1]:
#INTEGER

In [2]:
whole_num=12
type(whole_num)

int

In [7]:
decimal_num = 12.5
type(decimal_num)

float

In [9]:
A_statement = "Im ironman"
type(A_statement)

str

In [1]:
#List
#list are mutable(changable),ordered,collection of different datatypes
#lists are started with 0
lst = ["HI",45,[6,7,8,],3,7]
print(lst)

['HI', 45, [6, 7, 8], 3, 7]

In [2]:
lst[0]

'HI'

#LIST slicing and dicing

In [3]:
lst[1:]

[45, [6, 7, 8], 3, 7]

In [4]:
lst[-2]

3

In [5]:
lst[-3]

[6, 7, 8]

In [6]:
lst[0:-2]

['HI', 45, [6, 7, 8]]

In [7]:
#by default finctions in list
print(lst)
lst.append(45)

['HI', 45, [6, 7, 8], 3, 7]

In [8]:
lst.count(45)

2

In [10]:
lst.count(7)

1

In [11]:
lst.pop(0)

'HI'

In [12]:
print(lst)

[45, [6, 7, 8], 3, 7, 45]

In [13]:
len(lst)

5

In [14]:
#what is Dictionary

In [31]:
dit = {'my_housename':"Avs",'my_family_has':4,
       'where_it_is':"Tnl"}
dit.get("my houdename")

In [32]:
dit.values()

dict_values(['Avs', 4, 'Tnl'])

In [33]:
dit

{'my_housename': 'Avs', 'my_family_has': 4, 'where_it_is': 'Tnl'}

In [34]:
dit.pop('my_housename')

'Avs'

In [27]:
#solve all the dit methods

#Set

In [35]:
sets = {"hi","this",1,2,50,100,56.7,"sai","hi",3}
sets

{1, 100, 2, 3, 50, 56.7, 'hi', 'sai', 'this'}

In [36]:
#methods in the sets
#you guys do this

In [37]:
#Tuples

In [38]:
#tuple= orderd sequence of immutable object
tup = ('I','like','letsupgrade','are','you')
tup

('I', 'like', 'letsupgrade', 'are', 'you')

In [39]:
tup.count("I")

1

In [40]:
tup.index('are')

3

In [ ]:
del

In [41]:
#methods as assignment

##boolean

In [42]:
#boolean is eithr true or false
a= True
b= False

In [43]:
a

True

In [44]:
b

False

In [45]:
#variable assignment

In [46]:
venugopal=100

In [50]:
str=30
type(str)

int

In [51]:
str

30

In [52]:
a=10
b=20

In [53]:
(a==b or a:=b)

SyntaxError: invalid syntax (<ipython-input-53-a39e8ae8b98f>, line 1)

In [54]:
print(a)

10

In [55]:
add = a+b
add

30

In [56]:
sub =a-b
sub

-10

In [58]:
mul=a*b
mul

200

In [60]:
div=a/b
div

0.5

In [ ]:
#convertion tup to list
tup